<%- include('guestheader') %>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="<%= rootUrl %>/articles">Home</a></li>
  <li role="presentation" class="active"><a href="<%= rootUrl %>/aboutme">About me</a></li>
</ul>

<div class="mainpageContent">
    <ul class="list-group">
        <li class="list-group-item">姓名 ： 张亚龙</li>
        <li class="list-group-item">学校 ： 中国海洋大学</li>
        <li class="list-group-item">邮箱 ： 1063284355@qq.com</li>
    </ul>
</div>


<%- include('guestfooter') %>