*{
    margin: 0;
    padding: 0;
}
.mainContainer{
    width:960px;
    margin: 0 auto;
    position: relative;
}
.signinContainer{
    width: 480px;
    margin: 0 auto;
    padding: 200px 0;
}
.signinheader{
    text-align: center;
    color: #666;
    line-height: 40px;
    font-size: 28px;
}

.notification{
    position:absolute;
    left: 50%;
    top: 100px;
    width: 400px;
    height: 30px;
    margin-left:-200px;
}
.notification .bg-primary{
    width: 100%;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}
.abstract{
    height: 140px;
    overflow:hidden;
    word-break:break-all;
}
.panel-footer{
    font-size: 12px;
    text-align: right;
}
.header{
    height: 60px;
    font-size: 40px;
    line-height: 60px;
    text-indent: 140px;
    color: #fff;
    font-style:italic;
    border-radius: 10px;
    margin: 10px 0;
    background:linear-gradient(-70deg,rgba(255,255,255,0) 0, rgba(255,255,255,0) 20%, rgba(255,255,255,1) 21%, rgba(255,255,255,0) 23%,rgba(255,255,255,0) 100%) no-repeat;
    background-position: -1000px 0 ;
    background-color: #666;
}
.mainpageContent{
    margin-top:10px;
}
.categorylist a{
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    margin: 3px 5px;
}
.categorylist{
    height: 400px;
}